<div class="constainer card p-3">
<div class="row">
<label class="text-success justify-content-left col">No .{{printingDetails?.paymentNo}}</label>
<label class="col"> {{printingDetails?.invoiceNo}}</label>
</div>
<div class="row">
    <label class="text-end">Date: {{printingDetails?.paymentDate}}</label>
</div>
<div class="row my-2">
    <label>Recieved with thanks from <label class="horizontal-bottom ml-2">{{printingDetails?.buyername}}</label></label>
    </div>
    <div class="row my-2">
        <label class="col-8">The Sum of Rupees <label for="" class="horizontal-bottom ml-4">{{printingDetails?.pAmountPaid}}</label></label> <label class="col">Dated {{printingDetails?.paymentDate}}</label>
    </div>
    <div class="row m-2">
        <label class="col"> Cash vide on Account of<label for="" class="horizontal-bottom">{{printingDetails?.cashledger}}</label></label>
    </div>
    <div class="row mt-4">
        <label class="col text-left">Amount: {{printingDetails?.pAmountPaid}}</label>
        <label class="col mx-5 text-end"> Digitally Signed</label>
    </div>
    <div class="row">
        <label class="col ml-3">Cheque are subject to Realization</label>
        <label for="" class="col pr-5 mx-5 text-end">Secretary</label>
        </div>
</div>