<div>

<h2>Addition of Invoice List Inclusion.</h2>
<p-table #dt dataKey="invid"   [(selection)]="selectedData"  [paginator]="true"  [reorderableColumns]="true" sortField="invid" [sortOrder]="-1" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
[rowsPerPageOptions]="[10,25,50]" [rows]="rows" [(first)]="first" 
 class="mt-3" [value]="aucinvdetails"   [scrollable]="true" scrollHeight="450px" 
 [globalFilterFields]="['invoiceNo','invoiceDate','paymentDueDate','buyerName','status','voucherStatus']"
 [rowSelectable]="isRowSelectable" [loading]="loading">
 <ng-template pTemplate="caption">
    <div class="row">
        <div class="col-10 mb-1 text-start">
        <form>
            <div class="row">
            
                    <div class="col-4 w-auto">
                        <label>From Date</label>
                        <p-calendar appendTo="body" dateFormat="dd/mm/yy" [required]="true" [(ngModel)]="toDate" name="toDate" [maxDate]="currentDate" ></p-calendar>
            
                         </div>
                         <div class="col-4 text-start w-auto">
                            <label>To Date</label>
                            <p-calendar appendTo="body" dateFormat="dd/mm/yy" [required]="true" [maxDate]="currentDate" [(ngModel)]="fromDate" name="fromDate"></p-calendar>
                
                             </div>
                             <div class="col-2 w-auto">     
                                <span class="p-input-icon-left ml-auto">
                                    <!-- <i class="pi pi-search"></i>
                                    <p-dropdown name="companyname" placeholder="Filter By Branch" appendTo="body" [filter]="true"  filterBy="companyname" [required]="true"
                                    (onChange)="filterbybranch()"
                                     [options]="companies" optionLabel="companyname" [(ngModel)]="filteredbranchid"
                                    optionValue="companyid" >
                                  </p-dropdown> -->
                                  
                                  <p-dropdown name="companyname" placeholder="Filter By Branch" appendTo="body" [filter]="true"  filterBy="companyname" [required]="true"
                                   [options]="companies" optionLabel="companyname" [(ngModel)]="filteredbranchid"
                                  optionValue="companyid" >
                                </p-dropdown>
                                </span>
                                </div>
                             <div class="col-2  text-start">
                                <p-button label="Search"  (onClick)="searchAucInv()" ></p-button>
                    
                                 </div>
                                     
                </div>
                </form>    
                </div>
      <div class="col mb-1 text-end">
        <p-button label="Approve" *ngIf="true"  class="mx-2" (click)="approveSelectedLdger()" ></p-button>
         </div>
      
      <div class="tablename">List Of Invoice from e-Auction</div>      
      <div class="row align-left">  
        <div class="col text-start">     
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
        </span>
        </div>


        <!-- <div class="col text-end">     
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <p-dropdown name="companyname" appendTo="body" [filter]="true"  filterBy="companyname" [required]="true"
                (onChange)="filterbybranch()" [options]="companies" optionLabel="companyname" [(ngModel)]="filteredbranchid"
                optionValue="companyid" >
              </p-dropdown>
            </span>
            </div> -->

        
    
          </div>

      </div>
  </ng-template>
 <ng-template  pTemplate="header">
       
        <tr>
            <th style="width: 2rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="invoiceNo">
                <div class="flex justify-content-center align-items-center">
                    Invoice No
             
                    <p-sortIcon field="invoiceNo"></p-sortIcon>
                </div>
               </th>
            <th pSortableColumn="invoiceDate" >
                <div class="flex justify-content-center align-items-center">
                    Invoice Date
                   
                    <p-sortIcon field="invoiceDate"></p-sortIcon>
                    <!-- <p-columnFilter type="date" field="invoiceDate" display="menu">
                 
                    </p-columnFilter> -->
                </div>
            </th>
            
            <th pSortableColumn="paymentDueDate" >
                Due Date
                <p-sortIcon field="paymentDueDate"></p-sortIcon>
                <!-- <p-columnFilter type="date" field="paymentDueDate" display="menu">
                 
                </p-columnFilter> -->
                
            </th>
            <th pSortableColumn="buyerName" >
                <div class="flex justify-content-center align-items-center">
                    Buyer Name
                    <p-sortIcon field="buyerName"></p-sortIcon>
                    
                </div>
                
            </th>
            

            <th pSortableColumn="invoicetotal" >
                Total
                <p-sortIcon field="invoicetotal"></p-sortIcon>
            </th>
            <th pSortableColumn="status" >
                Approval Status
                <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th pSortableColumn="voucherStatus" >
                Voucher Status
                <p-sortIcon field="voucherStatus"></p-sortIcon>
            </th>
            <th >Action</th>
        </tr>
    </ng-template>
    <ng-template let-invitem pTemplate="body" let-ri="rowIndex" let-expanded="expanded"  let-editing="editing" >
        <tr [pEditableRow]="invitem">
            <td>
                <p-tableCheckbox [value]="invitem" [disabled]="isAlreadyApproved(invitem)"></p-tableCheckbox>
                <button type="button" pButton pRipple [pRowToggler]="invitem" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <!-- <td>{{invitem.invoiceid}}</td> -->
            <td >{{invitem.invoiceNo}}</td>
            <td >{{invitem.invoiceDate|date}}</td>
            <!-- <td>{{invitem.invoicenumber}}</td> -->
            <td >{{invitem.paymentDueDate|date}}</td>
            <td >{{invitem.buyerName||"Not Available"}}</td>
            <!-- <td>{{invitem.buyergst}}</td>
            <td>{{invitem.buyerCityName}}</td>
            <td>{{invitem.buyerStateName}}</td>
             -->
            
            <td >{{invitem.value}}</td>
            <td >
                
            <div *ngIf="invitem.status==1">
                    approved
                </div>
                <div *ngIf="invitem.status==0">
                    pending
                </div>
            </td>
            <td>
                <div *ngIf="invitem.voucherStatus==2">
                    Created
                </div>
                <div *ngIf="invitem.voucherStatus==0">
                    Not Initialized
                </div>
            
            </td>
            
            
            <td >
                
                <p-button [disabled]="invitem.status==1"  class="mx-2  p-button-text" (onClick)="approveBuyer(invitem)" label="Approve">   
                   
                </p-button> 
                
            </td>

        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-product>
        <tr>
            <td colspan="7">
                <div class="p-3">
                    <p-table [value]="product.aucinvDetails" dataKey="invoiceNo">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="ilotNumber">ILOTNO <p-sortIcon field="ilotNumber"></p-sortIcon></th>
                                <!-- <th pSortableColumn="baleStatus">Bale Status <p-sortIcon field="baleStatus"></p-sortIcon></th> -->
                                <th pSortableColumn="baleDate"> BaleDate <p-sortIcon field="date"></p-sortIcon></th>
                                <th pSortableColumn="baleWeight">Bale Weight <p-sortIcon field="baleWeight"></p-sortIcon></th>
                                <th pSortableColumn="balePrice">Bale Price <p-sortIcon field="balePrice"></p-sortIcon></th>
                                <th pSortableColumn="totalAmount">Total Amount <p-sortIcon field="totalAmount"></p-sortIcon></th>
                                
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-order>
                            <tr>
                                <!-- <td>{{order.invoiceNo}}</td> -->
                                <td>{{order.ilotNumber}}</td>
                                <!-- <td>{{order.baleStatus}}</td> -->
                                <td>{{order.baleDate| date:'dd/MM/yyyy'}}</td>
                                <td>{{order.baleWeight}}</td>
                                <td>{{order.balePrice}}</td>
                                <td>{{order.totalAmount}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6">There are no  Detais found for Invocie yet.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="7">
                <div class="p-3">
                    <p-table [value]="product.aucinvTaxes" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="taxId">Tax ID <p-sortIcon field="taxId"></p-sortIcon></th>
                                <th pSortableColumn="taxDesc">Tax Desc <p-sortIcon field="taxDesc"></p-sortIcon></th>
                                <th pSortableColumn="value"> Value<p-sortIcon field="value"></p-sortIcon></th>
                                <!-- <th pSortableColumn="taxType">Tax Type <p-sortIcon field="taxType"></p-sortIcon></th> -->
                                <th pSortableColumn="taxCharges">Tax Charges <p-sortIcon field="taxCharges"></p-sortIcon></th>
                                <!-- <th pSortableColumn="displayOrder">Display Order <p-sortIcon field="displayOrder"></p-sortIcon></th> -->
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-order>
                            <tr>
                                <td>{{order.taxId}}</td>
                                <td>{{order.taxDesc}}</td>
                                <td>{{order.value}}</td>
                                <!-- <td>{{order.taxType}}</td> -->
                                <td>{{order.taxCharges}}</td>
                                <!-- <td>{{order.displayOrder}}</td> -->
                                
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6">There are no  tax Detais found for Invocie yet.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="6">There are no Auction Invoice present for the date.</td>
        </tr>
    </ng-template>
</p-table>

</div>



