<div class="card">
    <div class="mb-3 moduleheaderbg">
  <span class="moduleheadertext">TDS View</span>
    </div>
  <p-table #dt  [value]="groups" sortField="vgstdetailsid" [sortOrder]="-1"  [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
   styleClass="myTable" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,50]"
   dataKey="vgstdetailsid" editMode="row">
   <ng-template pTemplate="caption">
    <div class="row">      
      <div class="tablename">TDS View</div>
      
      <div class="row align-left">  
        <div class="col text-start">     
        <span class="p-input-icon-left ml-auto">
        </span>
        </div>

          </div>


      </div>
  </ng-template>
  <ng-template pTemplate="header"></ng-template>
  
          <ng-template pTemplate="header" >
        <tr>

            <th>Buyer/Vendor
            </th>
            <th>PAN
            </th>
            <th>Taxable Value
            </th>
             <th>TDS Deducted
            </th>
             <th>TDS Provision of IT act
            </th>
            <th>TDS Rate %
            </th>
             <th>
            </th>
            <th>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="rowData">
        <td>{{rowData.ledgeralias}}</td>
        <td>{{rowData.panno}}</td>
        <td>{{rowData.grossamount}}</td>
        <td>{{rowData.netamount}}</td>
        <td>{{rowData.sectionname}}</td>
        <td>{{rowData.rate}}</td>


        <!-- <td>
            <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-dropdown name="isactive" [options]="isactive" [(ngModel)]="rowData.isactive">
                  </p-dropdown>
                </ng-template>
                <ng-template pTemplate="output" *ngIf="rowData.isactive==true">Active</ng-template>
                <ng-template pTemplate="output" *ngIf="rowData.isactive==false">InActive</ng-template>
            </p-cellEditor>
        </td> -->
        <td style="text-align:center">
           
            <button pButton type="button"
                class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData.vgstdetailsid)">Add</button>
            
        </td>
        <td style="text-align:center">
           
            <button pButton type="button"
                class="ui-button-success" style="margin-right: .5em">View</button>
            
        </td>
    </tr>
    </ng-template>
  </p-table>
  
  <p-dialog appendTo="body" header="Head Details" width="300" height="200" [(visible)]="displayDialog"
            [responsive]="true" showEffect="fade" [modal]="true">
      <form #GroupForm="ngForm" novalidate>
          <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="groupForDialog">
              <div class="ui-g ui-g-12 ui-g-nopad">
                  <div class="ui-g-12 ui-md-3 ui-label">
                      <label for="naturetransac">Nature of Transac.</label><span class="required-field">*</span>
                  </div>
                  <div class="ui-g-12 ui-md-9">
                      <input pInputText id="naturetransac" class="form-control" name="naturetransac" required
                             [(ngModel)]="groupForDialog.naturetransac"/>
                            
                  </div>
              </div>
              <div class="ui-g ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-md-3 ui-label">
                    <label for="tdsremitted">TDS Remitted(Rs.)</label><span class="required-field">*</span>
                </div>
                <div class="ui-g-12 ui-md-9">
                    <input  pInputText id="tdsremitted" class="form-control" name="tdsremitted" required
                           [(ngModel)]="groupForDialog.tdsremitted"/>
                           

                </div>
            </div>
              <div class="ui-g ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-md-3 ui-label">
                    <label for="challanno">Challan No.</label><span class="required-field">*</span>
                </div>
                <div class="ui-g-12 ui-md-9">
                   
                    <input  pInputText id="challanno" class="form-control" name="challanno" required
                    [(ngModel)]="groupForDialog.challanno"/>
                    
                </div>
            </div>
              <div class="ui-g ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-md-3 ui-label">
                    <label for="challandate">Challan Date</label><span class="required-field">*</span>
                </div>
                <div class="ui-g-12 ui-md-9">
                   
                    <input  pInputText id="challandate" class="form-control" name="challandate" required
                    [(ngModel)]="groupForDialog.challandate"/>
                    
                </div>
              </div>
              <div  class="ui-g ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-md-3 ui-label">
                    <label for="nameofthebank">Bank Name</label><span class="required-field">*</span>
                </div>
                <div class="ui-g-12 ui-md-9">
                   
                    <input  pInputText id="nameofthebank" class="form-control" name="nameofthebank" required
                    [(ngModel)]="groupForDialog.nameofthebank"/>
                    
                </div>
              </div>
              <div  class="ui-g ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-md-3 ui-label">
                    <label for="bankbranch">Bank Branch</label><span class="required-field">*</span>
                </div>
                <div class="ui-g-12 ui-md-9">
                   
                    <input  pInputText id="bankbranch" class="form-control" name="bankbranch" required
                    [(ngModel)]="groupForDialog.bankbranch"/>
                    
                </div>
              </div>
              <div  class="ui-g ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-md-3 ui-label">
                    <label for="bsrcode">BSR Code</label><span class="required-field">*</span>
                </div>
                <div class="ui-g-12 ui-md-9">
                   
                    <input  pInputText id="bsrcode" class="form-control" name="bsrcode" required
                    [(ngModel)]="groupForDialog.bsrcode"/>
                    
                </div>
              </div>

              <div  class="ui-g ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-md-3 ui-label">
                    <label for="tdsreturnform">TDS return form</label><span class="required-field">*</span>
                </div>
                <div class="ui-g-12 ui-md-9">
                   
                    <input  pInputText id="tdsreturnform" class="form-control" name="tdsreturnform" required
                    [(ngModel)]="groupForDialog.tdsreturnform"/>
                    
                </div>
              </div>

              <!-- <div  class="ui-g ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-md-3 ui-label">
                    <label for="year">Year</label><span class="required-field">*</span>
                </div>
                <div class="ui-g-12 ui-md-9">
                   
                    <input  pInputText id="year" class="form-control" name="year" required
                    [(ngModel)]="groupForDialog.year"/>
                    
                </div>
              </div> -->
             
              <div  class="ui-g ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-md-3 ui-label">
                    <label for="branchapf">Branch Apf</label><span class="required-field">*</span>
                </div>
                <div class="ui-g-12 ui-md-9">
                   
                    <input  pInputText id="branchapf" class="form-control" name="branchapf" required
                    [(ngModel)]="groupForDialog.branchapf"/>
                    
                </div>
              </div>

              <div  class="ui-g ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-md-3 ui-label">
                    <label for="duedate">Due date</label><span class="required-field">*</span>
                </div>
                <div class="ui-g-12 ui-md-9">
                   
                    <input  pInputText id="duedate" class="form-control" name="duedate" required
                    [(ngModel)]="groupForDialog.duedate"/>
                    
                </div>
              </div>

              <div  class="ui-g ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-md-3 ui-label">
                    <label for="dateoffiling">Date of filing</label><span class="required-field">*</span>
                </div>
                <div class="ui-g-12 ui-md-9">
                   
                    <input  pInputText id="dateoffiling" class="form-control" name="dateoffiling" required
                    [(ngModel)]="groupForDialog.dateoffiling"/>
                    
                </div>
              </div>

              <div  class="ui-g ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-md-3 ui-label">
                    <label for="ogreturnackform">Original return ack form</label><span class="required-field">*</span>
                </div>
                <div class="ui-g-12 ui-md-9">
                   
                    <input  pInputText id="ogreturnackform" class="form-control" name="ogreturnackform" required
                    [(ngModel)]="groupForDialog.ogreturnackform"/>
                    
                </div>
              </div>

          </div>
      </form>
      <p-footer>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button type="submit" pButton icon="fa-check" (click)="saveGroup()"
                      label="Save" [disabled]="!GroupForm.form.valid"></button>
                      <p-button label="Reset" (onClick)="onGroupReset()"></p-button>
          </div>
      </p-footer>
      </p-dialog>
  
  
  </div>
  