<div class="card">
    <div class="mb-3 moduleheaderbg">
  
  <span class="moduleheadertext">Role Master</span>
    </div>
  <p-table #dt [value]="roles" sortField="roleid" [sortOrder]="-1"  [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
   styleClass="myTable" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,50]"
   [globalFilterFields]="['rolename','roledescription','isactive']"
   dataKey="roleid" editMode="row">
   <ng-template pTemplate="caption">
    <div class="row">
      <div class="col-lg-1 mb-1"><p-button label="ADD" (onClick)="onRoleAdd()"></p-button></div>
      <div class="tablename">Role Master</div>
   </div>
   
   <div class="row align-left">  
    <div class="col text-start">     
    <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
    </span>
    </div>

      <div class="col text-end">
      <button  (click)="exportPdf()" class="me-2" pTooltip="PDF" tooltipPosition="bottom" >
          <img
          class="icon"
          src="../../../assets/pdficon.png"
          height="24px"
        /></button>
         <button (click)="exportExcel()" pTooltip="Excel" tooltipPosition="bottom" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom">
          <img
          class="icon"
          src="../../../assets/excelicon.png"
          height="24px"
        />
        </button>
        </div>
      </div>

  </ng-template>
  <ng-template pTemplate="header"></ng-template>
  
          <ng-template pTemplate="header" >
        <tr>
            <th pSortableColumn="rolename">Role
                <p-sortIcon field="rolename"></p-sortIcon>
            </th>
            <th pSortableColumn="roledescription">Description
                <p-sortIcon field="roledescription"></p-sortIcon>
            </th>
            <!-- <th pSortableColumn="isactive">Status
                <p-sortIcon field="isactive"></p-sortIcon>
            </th> -->
            <th></th>
  
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="rowData">
        <td>
          <p-cellEditor>
              <ng-template pTemplate="input">
                {{rowData.rolename}}
            </ng-template>
              <ng-template pTemplate="output">
                  {{rowData.rolename}}
              </ng-template>
          </p-cellEditor>
      </td>
        <td>
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="rowData.roledescription">
                </ng-template>
                <ng-template pTemplate="output">
                    {{rowData.roledescription}}
                </ng-template>
            </p-cellEditor>
        </td>
        <!-- <td>
          <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown name="isactive" [options]="isactive" [(ngModel)]="rowData.isactive">
                </p-dropdown>
              </ng-template>
              <ng-template pTemplate="output" *ngIf="rowData.isactive==true">Active</ng-template>
              <ng-template pTemplate="output" *ngIf="rowData.isactive==false">InActive</ng-template>
          </p-cellEditor>
        </td> -->
        <td style="text-align:center">
            <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                class="ui-button-info" [disabled]="disable" (click)="onRowEditInit(rowData)"></button>
            <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData.roleid,rowData)"></button>
            <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
        </td>
    </tr>
    </ng-template>
  </p-table>
  <p-dialog appendTo="body" header="Role Details" width="300" height="200" [(visible)]="displayDialog"
            [responsive]="true" showEffect="fade" [modal]="true">
      <form #RoleForm="ngForm" novalidate>
          <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="roleForDialog">
              <div class="ui-g ui-g-12 ui-g-nopad">
                  <div class="ui-g-12 ui-md-3 ui-label">
                      <label for="rolename">Role Name</label><span class="required-field">*</span>
                  </div>
                  <div class="ui-g-12 ui-md-9">
                      <input pInputText id="rolename" class="form-control" name="rolename" required
                             [(ngModel)]="roleForDialog.rolename"/>
                             <div class="col-sm-12" *ngIf="!roleunique && submitted">
                              <span style="color: red;">Role Name should be unique.</span>
                            </div>
                  </div>
              </div>
              <div class="ui-g ui-g-12 ui-g-nopad">
                  <div class="ui-g-12 ui-md-3 ui-label">
                      <label for="roledescription">Role Description</label><span class="required-field">*</span>
                  </div>
                  <div class="ui-g-12 ui-md-9">
                      <input  pInputText id="roledescription" class="form-control" name="roledescription" required
                             [(ngModel)]="roleForDialog.roledescription"/>
  
  
                  </div>
              </div>
              <div [hidden]="true" class="ui-g ui-g-12 ui-g-nopad">
                  <div class="ui-g-12 ui-md-3 ui-label">
                      <label for="isactive">Status</label><span class="required-field">*</span>
                  </div>
                  <div class="ui-g-12 ui-md-9">
                      <!-- <input pInputText id="isactive" name="isactive" required
                             [(ngModel)]="groupForDialog.isactive"/> -->
  
                          <p-dropdown name="isactive" [options]="isactive" [(ngModel)]="roleForDialog.isactive">
                          </p-dropdown>
  
  
                  </div>
              </div>
  
          </div>
      </form>
      <p-footer>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button type="submit" pButton icon="fa-check" (click)="saveRole()"
                      label="Save" [disabled]="!RoleForm.form.valid"></button>
                      <p-button label="Reset" (onClick)="onRoleReset()"></p-button>
          </div>
      </p-footer>
      </p-dialog>
  
  </div>
  