:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drware{
    width: 260px;
    background-color: #3A608E;;
}

mat-drawer-container{
    color: #3A608E;
    height: 90%;
}
 
.background-primary{
    color: aliceblue;
    background-color: #3A608E;
}

.viewbody{
    padding: 1%;
    margin-top: 0%;
}