<div class="card">
    <div class="mb-3 moduleheaderbg">
      <span class="moduleheadertext">Petty Cash Statement of Head-wise and Voucher-wise Expenditure incurred</span>
    </div>
    <div class="row mb-3">
      <form #VoucherForm="ngForm" novalidate>
        <div *ngIf="pcashdialog">
          <div class="row mb-2">
                  <div class="col-lg-1 col-md-1 col-sm-12">
                      <label for="fromdate">From Date</label>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-12">  
                    <p-calendar name="fromdate" [maxDate]="dateTime" dateFormat="dd.mm.yy" [(ngModel)]="pcashdialog.daybookfromdate" [showIcon]="true"  appendTo="body" ></p-calendar>
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-12">
                    <label for="todate">To Date</label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">  
                  <p-calendar name="todate" [maxDate]="dateTime" dateFormat="dd.mm.yy" [(ngModel)]="pcashdialog.daybooktodate" [showIcon]="true"  appendTo="body" ></p-calendar>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">  
                  <p-dropdown name="companyname" [filter]="true"  filterBy="companyname" [required]="true"
                   [options]="companies" optionLabel="companyname"
                  optionValue="companyid" [(ngModel)]="pcashdialog.companyid">
                </p-dropdown>                
              </div>
                <div class="col-lg-1 col-md-1 col-sm-12">
            
                  <p-button label="Search" (onClick)="onSearch()"></p-button>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12">
                  <p-button label="Reset" (onClick)="onReset()"></p-button>
              </div>  
            </div>
       
  </div>
      </form>
    </div>
    
 
    <div class="row mb-3 ">
  
      <p-table #dt [(selection)]="selectedData" [value]="pcashlist" [paginator]="true" [rows]="rows"
        [showCurrentPageReport]="true" [(first)]="first" styleClass="myTable"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,50]"
        dataKey="voucherdetailid" [globalFilterFields]="['vouchernumber','ledgeralias']"
        editMode="row">
  
        <ng-template pTemplate="caption">
          <!-- <div class="row">
            <div class="tablename">Receipt Vouchers</div>
          </div> -->
        
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 m-2">
              <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                  placeholder="Search keyword" />
              </span>
            </div>     
           
            </div>
            </ng-template>    
  
  
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>V No.</th>
            <th>Date</th>       
            <th>HOA</th>
            <th>Narration</th>
            <th>Amount(Rs.)</th>  
            <th >Bills</th>
            <th>Enclosures</th>
            <th>Status</th>
            <th></th>
          </tr>
  
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="rowData">
            <td>
              <p-tableCheckbox *ngIf="(!hoUser && rowData.submit!=true) || (hoUser)" [value]="rowData"></p-tableCheckbox>
            </td>
            <td>
  
              {{rowData.vouchernumber}}
  
            </td>
            <td>
  
              {{rowData.voucherdate | date}}
  
            </td>
          
                 <td>
  
              {{rowData.ledgeralias}} - {{rowData.subledgername}}
  
            </td>
          
              <td>
                {{rowData.narration}}

  
            </td>
            <td>
                {{rowData.amount}}

  
            </td>
            <td >
               
                <p-button label="Add/View" (onClick)="onOpenBillsDialog(rowData)"></p-button>
  
            </td>
            <td>
                <p-inputSwitch [disabled]="rowData.submit==true || hoUser" [(ngModel)]="rowData.enclosures" (onChange)="encChnge(rowData)"></p-inputSwitch>
  
            </td>

            <td>
              {{rowData.statuspetty}}


          </td>
            <td *ngIf="urole==maker && hoUser">

            
                  <p-dropdown name="status" appendTo="body" [options]="approvalStatusMaker" placeholder="Select" optionLabel="statuspetty" optionValue="statusid"
                    [(ngModel)]="rowData.statusid"></p-dropdown>
              
  
            </td>
            <td *ngIf="urole==checker && hoUser">

            
              <p-dropdown name="status" appendTo="body" [options]="approvalStatusChecker"  placeholder="Select" optionLabel="statuspetty" optionValue="statusid"
                [(ngModel)]="rowData.statusid"></p-dropdown>
          

        </td>
            <td *ngIf="urole==approver && hoUser">
  
          
            
                  <p-dropdown name="status" appendTo="body" [options]="approvalStatusApprover" placeholder="Select" optionLabel="statuspetty" optionValue="statusid"
                    [(ngModel)]="rowData.statusid"></p-dropdown>
  
  
            </td>
  
       
          </tr> 
          
        </ng-template>
      </p-table>
  
    </div>
    <div class="row mb-1 ">
      <div  *ngIf="!hoUser"  class="col-lg-11 col-md-11 col-sm-12 m-1 d-flex justify-content-end">
      <p-button label="Submit"  (onClick)="onSubmit()"></p-button>
      </div>
      <div  *ngIf="hoUser"  class="col-lg-11 col-md-11 col-sm-12 m-1 d-flex justify-content-end">
        <p-button label="Submit"  (onClick)="onSubmitHO()"></p-button>
        </div> 
    </div>
    <p-dialog appendTo="body" header="Bills in PDF or scanned file" width="300" height="200" [(visible)]="billdialog"
    [responsive]="true" showEffect="fade" [modal]="true">
    <form #GroupForm="ngForm" novalidate>
        <div class="ui-grid ui-grid-responsive ui-fluid">


            <div class="ui-g ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-md-3 ui-label">
                    <label for="proofdocument"></label>
                </div>
                <div   *ngIf="viewablefiles" class="ui-g-12 ui-md-9">
                    <p-fileUpload #form name="myfile[]" accept=".xlsx,.pdf,.csv,.xls,.png,.jpg,jpeg"
                        (uploadHandler)="myUploader($event,form)" [customUpload]="true"></p-fileUpload>


                </div>
            </div>

</div>

<div class="card mt-3">
    <div class="card-header">List of Files</div>
   
   
    <ul class="list-group list-group-flush" *ngFor="let file of fileInfos|async">
      <li class="list-group-item">
          <div class="row">
              <!-- <div class="col-lg-8 mb-6"><a href="{{ file.url }}">{{ file.filedisplayname }}</a></div> -->
              <div class="col-lg-8 mb-6"><a
                      *ngIf="checktypeImage(file.filegeneratedname) ">{{
                      file.filedisplayname }}</a>
                  </div>
                  <div class="col-lg-8 mb-6"><a
                      *ngIf="checktypePdf(file.filegeneratedname)">{{
                      file.filedisplayname }}</a>
                  </div>
              <p-button *ngIf="checktypeImage(file.filegeneratedname) ||checktypePdf(file.filegeneratedname)" (onClick)="viewDisable(file)"><i class="fa fa-eye"></i></p-button>
              <div *ngIf="checktypeImage(file.filegeneratedname) || checktypePdf(file.filegeneratedname)" class="col-lg-4 mb-2"></div>

          </div>
      </li>
      <li class="list-group-item">
          
        <a *ngIf="!checktypeImage(file.filegeneratedname) && !checktypePdf(file.filegeneratedname)" href="{{ file.url }}">{{ file.filedisplayname}} </a>
              <div *ngIf="!checktypeImage(file.filegeneratedname) && !checktypePdf(file.filegeneratedname)" class="col-lg-4 mb-2"></div>
      </li>
  </ul>
   
   
  
  <p-dialog header="Uploaded Files" appendTo="body" [(visible)]="viewdisable">
    <div *ngIf="imagefile">
      <img *ngIf="imagefile" [src]="viewablefile.url" height="200px">
      
  </div>
  <div *ngIf="pdffile">
      <div class="pdf-container">
          <pdf-viewer [src]="viewablefile.url" [rotation]="0" [original-size]="false" [show-all]="true"
              [fit-to-page]="false" [zoom]="1" [zoom-scale]="'page-width'" [stick-to-page]="false"
              [render-text]="true" [external-link-target]="'blank'" [autoresize]="true" [show-borders]="false"
              style="width: 100%; height: 600px;"></pdf-viewer>
      </div>
  </div>
  </p-dialog>
      
  </div>
</form>
<p-footer>
<div class="ui-dialog-buttonpane ui-helper-clearfix">
    

</div>
</p-footer>
</p-dialog>



  </div>