<div class="card">
    <div class="mb-3 moduleheaderbg">
      <span class="moduleheadertext">Petty Cash Report</span>
    </div>
    <div class="row mb-3">
      <form #VoucherForm="ngForm" novalidate>
        <div *ngIf="pcashdialog">
          <div class="row mb-2">
                  <div class="col-lg-1 col-md-1 col-sm-12">
                      <label for="fromdate">From Date</label> 
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-12">  
                    <p-calendar name="fromdate" [maxDate]="dateTime" dateFormat="dd.mm.yy" [(ngModel)]="pcashdialog.daybookfromdate" [showIcon]="true"  appendTo="body" ></p-calendar>
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-12">
                    <label for="todate">To Date</label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">  
                  <p-calendar name="todate" [maxDate]="dateTime" dateFormat="dd.mm.yy" [(ngModel)]="pcashdialog.daybooktodate" [showIcon]="true"  appendTo="body" ></p-calendar>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">  
                  <p-dropdown name="companyname" [filter]="true"  filterBy="companyname" [required]="true"
                   [options]="companies" optionLabel="companyname"
                  optionValue="companyid" [(ngModel)]="pcashdialog.companyid">
                </p-dropdown>                
              </div>
                <div class="col-lg-1 col-md-1 col-sm-12">
            
                  <p-button label="Search" (onClick)="onSearch()"></p-button>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12">
                  <p-button label="Reset" (onClick)="onReset()"></p-button>
              </div>  
            </div>
       
  </div>
      </form>
    </div>
    
  </div>
  <iframe *ngIf="reportUrl" [src]="reportUrl" frameborder="0" allowfullscreen width="100%" height="700px"></iframe>